*{
    margin: 0;
    padding: 0;
   
}

.bg-success {
     background-image: linear-gradient(45deg,rgb(211, 0, 183),rgb(161, 0, 140), rgb(51, 72, 103));
    border-image-slice: 2;
    
}




.addTtems{
    color:rgb(172, 2, 149);
}



.tasksClass{
    color:rgb(172, 2, 149);
}


.list-group-item{
    margin-bottom: 2%;
    padding: 5px 10px;
}